body {
    padding: 0px;
    background-color: rgb(39, 41, 41);
    display:flex;
    justify-content: center;
    align-items: center;
   

 }
 .displ {
    height: 50px;
    border: 1px solid white;
 }

.calc {
    width: 300px;
    border: 1px solid white;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
    

.btn {
    display: flex;
    width: 60px;
    
}
